body {
    background-image: url('https://picsum.photos/2000/2000/?random');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
}

nav {
    font-family: 'Faster One', cursive;
    color: white;
    background: orange;
    text-align: center;
}

#weather-card {
    background: rgba(255, 255, 255, 0.945);
    padding: 0 2em;
    border-radius: 1em;
    margin-top: 2vh;
    padding: 1em;
}

td {
    font-size: 1.2em;
    padding: 0!important;
}
td:first-child {
    text-align: left;
}

td:nth-child(2) {
    text-align: right;
}

#weather-card button {
    width: 100%;
    font-size: 1.5em;
}

#weather-card h2 {
    font-size: 4em;
}

#weather-card i:not(:nth-child(2)) {
    color: orange;
}